<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>스마트공장공정관리</title>
<link href="./css/style.css" rel="stylesheet">
<script src="./js/script.js"></script>
</head>
<body>

	<header>
		<h1 class="header-title">스마트공장공정관리</h1>
	</header>
	<nav>
		<ul id="menu">
			<li><a href="inpuiry">제품조회</a></li>
			<li><a href="work">작업지시조회</a></li>
			<li><a href="inout">작업공정등록</a></li>
			<li><a href="process">작업공정조회</a></li>
			<li><a href="/">홈으로</a></li>
		</ul>
	</nav>

	<th:block layout:fragment="content"></th:block>

	<footer>
		<p class="footer-content">copyright &copy; 2024 KOREA INFORMATION TXCHNOLOGY ACADEMY. ALL RIGHTS RESERVED</p>
	</footer>

</body>

</html>